<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'><img src="https://imgur.com/V6q7WHl" width="600" height="350"></div>
    <p>
      <strong>Software driven by Deep Convolutional Neural Networks </strong> 
    </p>
    <p>
      <strong>INSTRUCTIONS: </strong> Upload a digital image of a <strong>Chest X-Ray </strong>. After uploading the image hit the <strong> Analyze </strong> button. This software will provide you quickly with a diagnosis of either <strong> PNEUMONIA </strong> or <strong> NORMAL </strong>
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
